.header {
    display: flex;
    justify-content: space-between;

    &__logo-wrapper {
        padding: 10px 20px;
        width: 200px;
        display: flex;
        align-items: center;
    }

    &__logo {
        display: block;
        width: 100%;

        .homepage & {
            display: none;
        }

        .homepage .navigation-wrapper--active & {
            display: block;
            animation: fadeIn 2s;
        }
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}