.navigation {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;

    @include tablet {
        display: flex;
    }

    &.is-active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        z-index: 50;
        padding-top: 100px;
        text-align: center;
        padding-left: 0;

        .navigation__link {
            justify-content: center;
        }
    }

    &__burger {
        display: block;
        z-index: 100;
        @include tablet {
            display: none;
        }
    }

    &__link {
        color: #fff;
        text-decoration: none;
        padding: 0 25px;
        display: flex;
        align-items: center;
        font-size: 14px;
        height: 70px;
        transition: width .5s;
        position: relative;
        user-select: none;

        &:hover {
            color: #fff;
            text-decoration: none;

            &.navigation__link--vip {
                animation: flicker 1.5s infinite alternate;
            }
        }

        &::after,
        &::before {
            transition: width .3s;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '';
            color: transparent;
            background: #fff;
            height: 2px;
        }

        &:hover:after {
            width: 100%;
        }

        &--vip {
            font-family: 'Roboto';
            font-size: 20px;
            color: #fff;
            letter-spacing: 2px;
            text-shadow:
                0 0 7px rgb(212, 138, 0),
                0 0 10px rgb(212, 138, 0),
                0 0 21px rgb(212, 138, 0),
                0 0 42px #0fa,
                0 0 82px #0fa,
                0 0 92px #0fa,
                0 0 102px #0fa,
                0 0 151px #0fa;
        }
    }
}

.navigation-wrapper {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s linear;
    z-index: 1000;
}

.navigation-wrapper--active {
    background-color: #000;
    transition: background-color 0.3s linear;
    box-shadow: 0px 0px 12px 1px #000;
    opacity: 0.97;
}

/* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}